# I got the key from their Graph Explorer, it's valid for 1 hour only
# Simply go there, login, grant required permissions and copy the token
# https://developer.microsoft.com/en-us/graph/graph-explorer?request=me/onenote/notebooks&version=v1.0
MS_API_BASE=https://graph.microsoft.com
MS_API_TOKEN=

# you can obtain at https://WORKSPACE.getoutline.com/settings/personal-api-keys
OUTLINE_BASE=https://WORKSPACE.getoutline.com
OUTLINE_API_KEY=

# you can list here ids of notebooks you want to skip from migration, comma separated
EXCLUDE_NOTEBOOKS=
# you can list here ids of pages you want to skip from migration, comma separated
EXCLUDE_PAGES=
